torch==2.0.1
torchaudio==0.12.1
torchvision==0.13.1
transformers==4.38.2
accelerate
datasets==2.16.1
scikit-learn
numpy
pandas
sentence-transformers
langchain
langchain-community
langchainhub
langchain-huggingface
chromadb
bs4
pypdf
huggingface_hub
ragatouille
openpyxl
lxml
FlagEmbedding==1.3.2
trl
llm-blender
proto-plus==1.22.2
protobuf==3.20.3